/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2014, 14:23:39
    Author     : martinowen
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martinowen\/Sites\/demo\/master\/sites\/all\/themes\/stepup\/sass\/layouts\/no-sidebar\/sidebar\.layout\.scss}line{font-family:\000039}}
.l-page {
  margin: 0 auto;
  width: 44em;
  width: 70em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martinowen\/\.rvm\/gems\/ruby-1\.9\.3-p484\@global\/gems\/breakpoint-2\.0\.7\/stylesheets\/_breakpoint\.scss}line{font-family:\00003118}}
  .touch .l-page {
    bacground: blue; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martinowen\/Sites\/demo\/master\/sites\/all\/themes\/stepup\/sass\/layouts\/no-sidebar\/sidebar\.layout\.scss}line{font-family:\0000323}}
.l-region--sidebar-first {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martinowen\/Sites\/demo\/master\/sites\/all\/themes\/stepup\/sass\/layouts\/no-sidebar\/sidebar\.layout\.scss}line{font-family:\0000327}}
.l-content {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martinowen\/Sites\/demo\/master\/sites\/all\/themes\/stepup\/sass\/layouts\/no-sidebar\/sidebar\.layout\.scss}line{font-family:\0000333}}
.l-region--sidebar-first {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martinowen\/Sites\/demo\/master\/sites\/all\/themes\/stepup\/sass\/layouts\/no-sidebar\/sidebar\.layout\.scss}line{font-family:\0000337}}
.l-content {
  width: 74.46809%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
